<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/profiles/index.css">


  <%- include('../partials/html-head') %>

    <body>
      <div class="container2">
        <%- include('../partials/sidebar') %>

          <div class="content4">
            <main>
              <div class="card-container">
                <% profiles.forEach(profile=> { %>
                  <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
                    <div  style="border-bottom: 1px solid lightgray;" class="card">
                      <img style="border-radius: 50%; margin: 25px 15px 15px 10px;" src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
                      <div class="card-body">
                        <h3 style="margin-left: 10px; " class="card-title">
                          <%= profile.name %>
                        </h3>
                      </div>
                    </div>
                  </a>
                  <% }) %>
              </div>
            </main>


          </div>
          <%- include('../partials/rightside') %>

    </body>