<%- include('../partials/html-head') %>

<div class="container2">
  <%- include('../partials/sidebar') %>
  <div class="content4">

<section>
  <h1>Edit your comment!</h1>
  <form 
    action="/tweets/<%= tweet._id %>/comments/<%= comment._id %>?_method=PUT"
    method="POST"
  >
    <label>
      Content: 
      <textarea
        cols="30"
        rows="5" 
        type="text"
        name="content" 
        autocomplete="off"
      ><%= comment.content %></textarea>
    </label>
    <button type="submit">Update Comment</button>
  </form>

</section>
</div>

<%- include('../partials/rightside') %>
</div>




<%- include('../partials/footer') %>