<%- include('../partials/html-head') %>

<div class="container2">
  <%- include('../partials/sidebar') %>
  <div class="content4">

    <section>
        <h1 class="editComment">Edit your Tweet!</h1>

  <form action="/tweets/<%= tweet._id %>?_method=PUT" method="POST">
    <label>
      <input placeholder="Edit your tweet" class="comment"
        type="text"
        name="name" 
        value="<%= tweet.name %>" 
        autocomplete="off"
      >
    </label>

    <button class="updateBtn" type="submit">Edit </button>
  </form>
</section>

      
</div>

<%- include('../partials/rightside') %>
</div>




<%- include('../partials/footer') %>