<%- include('../partials/html-head') %>

  <body>
    <div class="container2">
      <%- include('../partials/sidebar') %>

      <div class="content4">
        <section>
          <% if (user) { %>
            <form action="/tweets" method="POST">
              <label>
                <input type="text" class="comment" name="name" autocomplete="off" placeholder="What is happening?!">
              </label>
              <button class="postBtn" type="submit">Post</button>
            </form>
            <% } %>
              <ul>
                <% tweets.forEach(tweet=> { %>
                  <li>
                    <p><img src="image/user (1).png" alt="">
                      <%= tweet.createdAt.toLocaleString() %>
                    </p><a href="/tweets/<%= tweet._id %>">
                      <%= tweet.name %>
                    </a>
                  </li>
                  <% }) %>
              </ul>
        </section>
      </div>
      <div class="content5">
    
        <!-- <script>
          console.log('hello')
          var url = 'https://newsapi.org/v2/everything?' +
            'q=Apple&' +
            'from=2024-01-22&' +
            'sortBy=popularity&' +
            'apiKey=4d07895234f34f379ed73973ca14e879';

          var req = new Request(url);

          fetch(req)
            .then(function (response) {
              console.log(response.json());
            })
        </script> -->






      </div>

  </body>