<%- include('../partials/html-head') %>


  <section>
    <div class="container2">
      <div class="content3">
        <p> <img class="logo" src="/image/owl.png" alt="" width="38" height="38"></p>
        <a href="/tweets"><p style="font-weight: bold;" class="sidebar"><img class="logo1" src="/image/Home.png" alt=""> Home</a></p>
        <a href="/profiles/"><p class="sidebar"><img class="logo1" src="/image/magnifying-glass (1).png" alt=""> Explore</p></a>
        <p class="sidebar"><img class="logo1" src="/image/user.png" alt=""> Profile</p>
        <%- include('../partials/nav') %>
      </div>
      <div class="content4">
        <div class="comment">
          <p>
            <%= tweet.owner.name %>
          </p>
          <h1>
            <%= tweet.name %>
          </h1>
        </div>
        <% if (user) { %>

          <% } %>
            <% if (tweet.owner.equals(user?.profile._id)) { %>
              <div class="buttons">
                <form action="/tweets/<%= tweet._id %>?_method=DELETE" method="POST">
                  <button class="btn" type="submit">Delete</button>
                  <a href="/tweets/<%= tweet._id %>/edit">
                    <button class="btn">Edit</button>
                  </a>
                </form>
              </div>
              <% } %>
                <ul>
                  <% tweet.comments?.forEach(comment=> { %>
                    <li>
                      &nbsp;
                      <img class="comment-photo" src="<%= comment.author.avatar %>" alt="avatar of commenter">
                      <a href="/profiles/<%= comment.author._id %>">
                        <%= comment.author.name %>
                      </a>
                      &nbsp;at
                      <%= comment.createdAt.toLocaleString() %>
                        <% if (comment.author.equals(user?.profile._id)) { %>
                          <p><%= comment.content%></p>
                          <div class="buttons">
                            <form action="/tweets/<%= tweet._id %>/comments/<%= comment._id %>?_method=DELETE"
                              method="POST">
                              <button class="edit-btn">Delete</button>
                            </form>
                            <a href="/tweets/<%= tweet._id %>/comments/<%= comment._id %>/edit">
                              <button class="edit-btn">Edit</button>
                            </a>
                          </div>
                          <% } %>
                    </li>
                    <% }) %>
                </ul>
                <% if (user) { %>
                  <form action="/tweets/<%= tweet._id %>/comments" method="POST">
                    <textarea class="" name="content"></textarea><br>
                    <button class="postBtn" type="submit">Post</button>
                  </form>
                  <% } %>

      </div>
      <div class="content5"></div>
  </section>


  <%- include('../partials/footer') %>