<%- include('../partials/html-head') %>

  <section>
    <div class="container2">
      <%- include('../partials/sidebar') %>
      <div class="content4">
        <div class="comment">
          <div class="user_header">
            <img class="user_img" src="<%= tweet.owner.avatar %>" alt="Profile Picture">
            <p class="tweet_owner"><%= tweet.owner.name %></p>
          </div>
          <p class="tweet"><%= tweet.name %></p>
        </div>
        <% if (user) { %>
          <form action="/tweets/<%= tweet._id %>/comments" method="POST">
            <textarea class="commentBox" placeholder="Post your reply" name="content"></textarea><br>
            <button class="postBtn" type="submit">Reply</button>
          </form>
          <% } %>
        <% if (user) { %>

          <% } %>
            <% if (tweet.owner.equals(user?.profile._id)) { %>
              <div class="buttons">
                <form action="/tweets/<%= tweet._id %>?_method=DELETE" method="POST">
                  <button class="btn" type="submit">Delete</button>
                  <a href="/tweets/<%= tweet._id %>/edit">
                    <button class="btn">Edit</button>
                  </a>
                  
                </form>
              </div>
              <% } %>
                <ul>
                  <% tweet.comments?.forEach(comment=> { %>
                    <li>
                      &nbsp;
                      <img class="comment-photo" src="<%= comment.author.avatar %>" alt="avatar of commenter">
                      <a href="/profiles/<%= comment.author._id %>">
                        <%= comment.author.name %>
                      </a>
                      &nbsp; 
                      <p><%= comment.content%> </p> 
                     
                      <span class="time_home"><%= comment.createdAt.toLocaleString() %></span>
                        <% if (comment.author.equals(user?.profile._id)) { %>
                          <div class="buttons">
                            <form action="/tweets/<%= tweet._id %>/comments/<%= comment._id %>?_method=DELETE"
                              method="POST">
                              <button class="edit-btn">Delete</button>
                            </form>
                            <a href="/tweets/<%= tweet._id %>/comments/<%= comment._id %>/edit">
                              <button class="edit-btn">Edit</button>
                            </a>
                          </div>
                          <% } %>
                    </li>
                    <% }) %>
                </ul>


      </div>
      <%- include('../partials/rightside') %>

  </section>


  <%- include('../partials/footer') %>

